body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 19px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #ffffff; /* El color del fondo de la página web */
    color: #b8b506; /* El color del texto*/ 
}
h1 {
    color: #ff0a0abe; /* El color de la cabecera */
    font-size: 29px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}